@CHARSET "UTF-8";

body {
	width:			800px;
	margin-left:	auto;
	margin-right:	auto;
	font-family:	verdana, sans-serif;
	font-size:		14px;
}

div.report {
	border:		1px solid grey;
	padding:	10px;
	margin:		auto;
}

div.smileys {
	height:	200px;
	width:	300px;
	float:	right;
}

img.module {
	max-width:	50%;
}