@CHARSET "UTF-8";

body {
	width:			800px;
	margin-left:	auto;
	margin-right:	auto;
	font-family:	verdana, sans-serif;
	font-size:		14px;
}

div.team {
	border:		1px solid grey;
	padding:	10px;
}

div.timeline {
	height:	250px;
	width:	auto;
}

img.profile {
	max-width: 100px;
}

img.team {
	max-width: 75%;
}

img.module {
	max-width: 75%;
}

ul {
	list-style-type:	none;
	margin:				0;
	padding:			0;
	text-align:			center;
}

li {
	margin:			0;
	padding:		0;
}

li.profile {
	margin-right:	10px;
	margin-left:	10px;
	display:	inline-block;
}

dt {
	margin:			auto;
	padding:		10px;
	font-weight:	bold;
}

dd {
	margin:		auto;
	padding:	auto;
}