<?php

	unset($KEY);  // Ignore this line
	global $KEY;
	$KEY = new stdClass();
	
	
	//=========================================================================
	// 1. DATABASE SETUP
	//=========================================================================
	$KEY->tokenkey = '<key>';

?>
